/*ID STYLES*/

#home {
	padding: 0 3px;
}

#apple {
	margin-right: 10px;
}

#droid {
	margin-left: 10px;
}

/*CLASS STYLES*/
.container {
	margin: auto;
	width: 80%;
	padding: 50px 30px;
}

.box1 {
	float:left;
	display: inline-block;
	margin: 0 auto;
	padding: 0 50px;
	max-width:48%;
	
}

.box2 {
	display: inline-block;
	margin: 0 auto;
	
}

.box3 {
	background: url(../images/frame.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0 auto;
	border-radius:18px;
	padding: 10px 30px;
	height: 320px;
	display: inline-block;
	max-width: 39%;
	font-family: "helvetica";
}

.box4 {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	max-width: 48%;
	padding: 20px 40px;
	
}

.cpyrght {
	display: inline;
	font-size: 10px;
	color: gray;
}

.login {
	background: #4D87A4;
	width: 100px;
	font-family: "helvetica";
	font-size: 15px;
	font-weight: bold;
	color: #F0F4F6;
	border: 1px solid;
	border-color: #3f729b;
	text-align: center;
	padding: 5px;
	
}

.home {
	padding-top: 20px 20px 0 10px;
}

.bold {
	font-weight: bold;
}

.button {
	display: inline-block;
	position: relative;
	left: 50px;
	bottom: 30px;
	border: 1px solid #356083;
	border-radius: 2px;
}

/*ELEMENT STYLES*/
body {
	height: 100%;
	margin: 0;
	background-image: repeating-linear-gradient(#3f729b, #3f729b 33%, #F0F4F6 33.2%, #F0F4F6 100%);
	background-size: cover;
	background-repeat: no-repeat;	
}

h1 {
	color: #163186;
	font-weight: 600;
	font-size: 25px;

}

footer {
	text-align: center;
	margin: 0 auto;
}

a{
	margin: 0 auto;
	padding: 0 10px;
	text-decoration: none;
	color: #3f729b;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "helvetica";
	font-size: 12px;
}

