/*ID STYLES*/

#home {
	padding: 5px 5px 0 0;
}

#apple {
	margin-right: 10px;
}

#droid {
	margin-left: 10px;
}

#loginTxt {
	position: relative;
	top: -5px;
	display: inline-block;
}

#phones2 {
	display: none;
}

#verySmall {
	display: none;
}

/*CLASS STYLES*/
.container {
	margin: auto;
	width: 80%;
	padding: 50px 30px;
}

.box1 {
	float:left;
	display: inline-block;
	margin: 0 auto;
	padding: 0 50px;
	max-width:48%;
	
}

.box2 {
	display: inline-block;
	margin: 0 auto;
	
}

.box3 {
	background: url(../images/frame.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0 auto;
	border-radius:19px;
	padding: 10px 30px;
	height: 320px;
	display: inline-block;
	max-width: 39%;
	font-family: "Hind Vadodara";
}

.box4 {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	max-width: 48%;
	padding: 20px 40px;
	
}

.cpyrght {
	display: inline;
	font-size: 10px;
	color: gray;
}

.login {
	background: #4885A7;
	width: 100px;
	font-family: "Hind Vadodara";
	font-size: 12px;
	font-weight: bold;
	color: #F0F4F6;
	border: 1px solid;
	border-color: #3f729b;
	text-align: center;
	margin: 0 auto;
	
}

.bold {
	font-weight: bold;
}

.button {
	display: inline-block;
	position: relative;
	left: 50px;
	bottom: 30px;
	border: 1px solid #356083;
	border-radius: 3px;
}

.footList {
	display: inline;
}

/*ELEMENT STYLES*/
body {
	height: 100%;
	margin: 0;
	background: repeating-linear-gradient(#3f729b, #3f729b 33%, #F0F4F6 33.2%, #F0F4F6 100%);
	background-size: cover;
	background-repeat: no-repeat;	
}

h1 {
	color: #2A4186;
	font-weight: 600;
	font-size: 25px;
	margin: 30px auto;
	font-weight: 600 ;
}

footer {
	text-align: center;
}

a{
	margin: 0 auto;
	padding: 0 10px;
	text-decoration: none;
	color: #3f729b;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "Hind Vadodara";
	font-size: 13px;
}

p{
	font-weight: 300;
}

/*RESPONSIVE DESIGN ATTEMPT*/
@media (max-width: 1047px) {
	#phones1 {
		display: none;
	}

	#phones2 {
		display: block;
	}

	.button {
		display: inline-block;
		position: static;
	}
}

@media (max-width: 500px) {
	#phones2 {
		display: none;
	}

	#verySmall {
		display: block;
	}

}
